/* blog */
.blog-container {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f6ff;
}
.blog-container .b-title {
  width: 50%;
  text-align: center;
  margin-top: 30px;
}
.blog-container .b-title h3 {
  color: #dfb15b;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}
.blog-container .b-title h1 {
  color: #252531;
  font-size: 32px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}
.blog-container .blog-card-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.blog-container .blog-card {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  background-color: #fff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.blog-container .blog-card:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.blog-container .blog-card:last-child {
  margin-right: 0px;
}
.blog-container .blog-card .blog-card-header {
  margin-bottom: 10px;
}
.blog-container .blog-card .blog-card-header img {
  width: 100%;
  height: auto;
}
.blog-container .blog-card .blog-card-body .blog-card-body-hd {
  margin-bottom: 20px;
}
.blog-container .blog-card .blog-card-body .blog-card-body-hd i,
h3 {
  color: #252531;
  display: inline;
  padding: 0 5px;
  margin-left: 10px;
}
.blog-container .blog-card .blog-card-body .blog-card-body-hd i {
  background-color: #dfb15b;
  padding: 5px;
}
.blog-container .blog-card .blog-card-body p {
  color: #777777;
  padding: 0 10px;
  text-align: left;
  line-height: 1.4rem;
  margin-bottom: 20px;
}
.blog-container .blog-card .blog-card-body .blog-icon {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #f0dbb3;
}
.blog-container .blog-card .blog-card-body .blog-icon i {
  color: #dfb15b;
  margin-right: 10px;
}
.blog-container .blog-card .blog-card-body .blog-icon span {
  color: #252531;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .blog-container .b-title {
    width: 70%;
  }
  .blog-container .b-title h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 750px) {
  .blog-container .blog-card-container {
    flex-direction: column;
  }
  .blog-container .blog-card-container .blog-card {
    width: 90%;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
