/* gallery */
.gallery-container {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 110px;
}
.gallery-container .g-title {
  width: 50%;
  text-align: center;
}
.gallery-container .g-title h3 {
  color: #dfb15b;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.gallery-container .g-title h1 {
  color: #252531;
  font-size: 32px;
  position: relative;
  margin: 20px 0;
}
.gallery-container .g-title .btns {
  margin-bottom: 50px;
}
.gallery-container .g-title .btns .btn {
  width: 110px;
  padding: 0.37rem 0.75rem;
  color: #dfb15b;
  background-color: #fff;
  border: 1px solid #dfb15b;
  outline: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}
.gallery-container .g-title .btns .btn:hover {
  color: #252531;
  background-color: #dfb15b;
  cursor: pointer;
}
.gallery-container .g-title .btns .btn1 {
  width: 40px;
  padding: 6px 5px;
  color: #252531;
  background-color: #dfb15b;
  border: 1px solid #dfb15b;
  outline: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}
.gallery-container .g-title .btns .btn1:hover {
  cursor: pointer;
}
.gallery {
  margin-left: 4%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery .gallery-item {
  width: 25%;
}
.gallery .gallery-item .img-hvr-icon img {
  width: 50px;
  height: 50px;
  border: 1px solid #dfb15b;
  padding: 5px;
  margin-top: 10px;
}
.gallery .gallery-item figure {
  width: 100%;
  height: 100%;
  display: block;
}
.gallery .gallery-item .img-hvr-icon img:hover {
  transform: scale(0.8);
}
@media screen and (max-width: 1400px) {
  .gallery .gallery-item {
    margin-bottom: 0;
  }
  .gallery .gallery-item .img-hvr-icon img {
    width: 40px;
    height: 40px;
  }
  .gallery .gallery-item h3 {
    font-size: 16px;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .gallery .gallery-item {
    width: 45%;
    margin-bottom: 20px;
  }
  .gallery .gallery-item h3 {
    font-size: 18px;
    text-align: center;
  }
  .gallery .gallery-item .img-hvr-icon img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 700px) {
  .gallery .gallery-item {
    margin-bottom: 0px;
  }
  .gallery-container .g-title {
    width: 70%;
  }
  .gallery-container .g-title h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 580px) {
  .gallery .gallery-item {
    width: 70%;
    margin-bottom: 20px;
  }
  .gallery .gallery-item .img-hvr-icon img {
    width: 40px;
    height: 40px;
  }
  .gallery .gallery-item h3 {
    font-size: 16px;
    text-align: center;
  }
}
