/* slider Section */

/* Slideshow Container */

.slider {
  width: 100%;
  position: relative;
}

.mySlides {
  width: 100%;
  display: none;
}

.mySlides img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
/* Hide the images by default */

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 16px;
  color: white;
  background-color: #dcb777;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #e1aa4c;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.slideCaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  margin: 0 auto;
  text-align: center;
}

.slideCaption h4 {
  color: #dcb777;
  font-size: 25px;
}
.slideCaption h1 {
  font-size: 50px;
}
.slideCaption button {
  padding: 15px 8px;
  color: #252531;
  background-color: #dfbe82;
  border: none;
  outline: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.slideCaption button:hover {
  background-color: #e1aa4c;
}

@media screen and (max-width: 980px) {
  .slideCaption h4 {
    font-size: 22px;
  }
  .slideCaption h1 {
    font-size: 40px;
  }
  .slideCaption button {
    padding: 5px;
    font-size: 14px;
  }
  .prev,
  .next {
    padding: 12px;
  }
}
@media screen and (max-width: 680px) {
  .slideCaption h4 {
    font-size: 18px;
  }
  .slideCaption h1 {
    font-size: 35px;
  }
  .slideCaption button {
    font-size: 12px;
  }
  .slideCaption {
    gap: 15px;
  }
  .prev,
  .next {
    padding: 8px;
  }
}
@media screen and (max-width: 500px) {
  .slideCaption h4 {
    font-size: 12px;
  }
  .slideCaption h1 {
    font-size: 25px;
  }
  .slideCaption button {
    font-size: 8px;
  }
  .prev,
  .next {
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
  }
}
